
@media (max-width: 768px) {
    .bar-icon {
       display: flex;
    }
    .nav-links {
       display: none;
    }
   
     .logos {
       
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   
   } 
   
   .right-side {
       display: flex;
       justify-content: center;
   }
   
   
   .card-section {
       display: flex;
       flex-direction: column;
       
       gap: 20px;
   } 
   
   .card
    {
       width: 100%;
   } 
   
   .view-all-projects-section {
    display: flex;
    flex-direction: column;
   }




  #blog {
    display: flex;
    flex-direction: column;

    margin-top: -280px;
  }

  .article {
    display: flex;
    padding-left: 40px;
    
  }
 
  .product-header {
    display: flex;
    flex-direction: column;
 
  }

.header-right {
    display: flex;
   
    align-items: flex-start;
}

.product-design-pictures {
    display: flex;
    flex-direction: column; 
    width: 100%;

}

.product {
  width: 100%;
  height: 100%;
}

.education-work {
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  width: 100%;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-bottom {
  display: flex;
  flex-direction: column;
}

.faq-questions {
  display: flex;
  flex-direction: column;
}

.faq-questions-right,
.faq-questions-left {

  display: flex;
  width: 100%;

}

.portoflio-creator {
  display: flex;
  flex-direction: column;
}

.portoflio-creator-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kickass > footer {
  display: flex;
  flex-direction: column;

}

 .company {
  gap: 15px;
}

.work {
  width: 100%;
}

  }
